html, body {
    margin: 0;
    height: 100%;
  }

h1 {
    text-align: right;
    margin-right: 30px;
}

.bg {
    background-color: black;
    height: 100%;
    background-image: url("images/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    margin: 10px 10px 80px 0px;
}

.this {
    margin: 10px 10px 15px 0px;
}

a {
    color: rgba(255, 255, 255, 0.89);
}

a:link, a:visited {
    background-color: blue;
    color: white;
    border: 2px solid rgb(1, 29, 119);
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
    color: white;
  }
