html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('images/profile.png') no-repeat;
    background-size: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
     overflow: visible;
     background: black url('images/HBQ\ Intro\ 2_2.gif') center center;
     background-size: cover;
}

h1 {
    text-align: right;
    margin-right: 35px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    margin-left: 40px;
}

.tabs {
    float: left;
    background-color: black;
    width: 10%;
    height: 40px;
}

.tabs button {
    display: block;
    background-color: blue;
    color: white;
    width: 70%;
    height: inherit;
    border: 2px solid rgb(1, 29, 119);
    border-radius: 15px;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.tabs button:hover {
    background-color: red;
}

.tabs button.active {
    background-color: blue;
}

.tabcont {
    float: center;
    padding: 0px 0px 0px 70px;
    margin: 0px 0px 0px 100px;
    width: 35%;
    border-left: none;
    height: 10px;
    display: none;
}

p {
    text-align: right;
    margin: 0px 45px 0px 0px;
    color: rgb(184, 184, 184);
}

h4 {
    color: white;
    font-family: fantasy;
}

.some {
    padding-top: 50px;
}

.this {
    margin: 10px 10px 15px 0px;
}

a {
    color: rgba(255, 255, 255, 0.89);
}

a:link, a:visited {
    background-color: ;
    color: white;
    border: 2px solid rgb(1, 29, 119);
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
  a:hover, a:active {
    background-color: red;
    color: white;
}
