@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
  }

.bg {
    background-image: url('images/HBQ \Intro \2_2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100vh;
}

.backg {
    background-image: url('images/profile.png');
    background-color: #111;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-top: 15%;
    margin-left: 40%;
    text-decoration: none;
    display: inline-block;
    border-radius: 70%;
    font-size: 2em;
    background: rgb(0, 8, 117);
    padding: 40px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;
    font-family: Teko, sans-serif;
}

.btn:hover {
    letter-spacing: 3px;
    transform: scale(1.07);
}

.text1 {
    text-align: center;
    font-family: Teko, sans-serif;
    font-size: 3rem;
    width: 25%;
    color: white;
    padding-top: 15%;
    padding-left: 15px;
    position: relative;
    line-height: 2.7rem;
}

.video {
    padding-left: 65%;
}

.text2 {
    text-align: center;
    font-style: italic;
    font-family: Teko, sans-serif;
    font-size: 5rem;
    width: auto;
    height: auto;
    color: white;
    position: relative;
}

.text3 {
    text-align: center;
    font-size: 2rem;
    width: auto;
    height: auto;
}

.contact-btns {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact {
    font-size: 1.8rem;
    color: white;
    padding-left: 15px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
  
.contact:hover {
    transform: translateY(6px);
}

footer {
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #111;
    border-top: 4px solid rgb(252, 68, 68);
    margin-top: 9rem;
}


  
@media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
}
