@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #111;
}

a {
    color: #fff;
    float: left;
    margin-left: 3rem;
    margin-top: 5rem;
    font-size: 40px;
    font-family: Bungee Shade, sans-serif;
    transition: 300ms ease-in-out;
    text-decoration: none;
}

a:hover {
    transform: scale(1.11);
}

.bg {
    background-image: url('images/HBQ Intro 2_2.gif');
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.text1 {
    color: #fff;
    background: none;
    float: left;
    bottom: 0;
    position: absolute;
    width: 45%;
    margin-left: 1rem;
    margin-top: 15rem;
    font-size: 30px;
    font-family: Sigmar One, sans-serif;
}

.text2 {
    color: #fff;
    font-family: Sigmar One, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
}

.box1 {
    height: 101vh;  
    background-image: url('images/profile.png'); 
    background-size: cover;
}

.box2 {
    height: 100vh;
}

.box3 {
    height: 100vh;
}

iframe {
    height: 100%;
    width: 100%;
}

.contact {
    margin-top: 0;
    margin-left: 0;
    width: 20%;
    font-size: 2.8rem;
    font-family: Bungee Shade, sans-serif;
    color: white;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
  
.contact:hover {
    transform: translateY(6px);
}

.contact-btns {
    background: #111;
    width: 100%;
}
